/* ### WP-PAGENAVI STYLES ### */
.wp-pagenavi{border:1px solid #ddd;clear:both;color:#333;font-size:12px;margin-bottom:40px;padding:30px;text-align:right}
.wp-pagenavi .pages{float:left}
.wp-pagenavi a,.wp-pagenavi .current{border:1px solid #666;color:#333;margin-left:3px;padding:3px 7px;text-decoration:none}
.wp-pagenavi a:hover,.wp-pagenavi .current{color:#cc0000}

